<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (products.length > 0) { %>
            <ui class="cart__item__list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.title %></h1>
                        <h2>Quantity: <%= p.cartItem.qty%></h2>
                        <form action="/cart-item-delete" method="POST">
                            <input type="hidden" value="<%= p.id %>" name="productId">
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ui>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>

    <%- include('../includes/end.ejs') %>
</body>
</html>
